@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Kanit:ital,wght@1,700&display=swap');

:root {
  --cor-do-titulo: #8d8885;
  --cor-primaria: #103e38;
  --cor-secundaria: #d9d9d9;
  --cor-do-texto: #3C362D;
  --fonte-do-titulo: 'Kanit', sans-serif;
  --fonte-do-texto: 'Barlow', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  position: relative;
}

.titulo {
  background-color: var(--cor-do-titulo);
  overflow: hidden;
  font-family: 'Kanit', sans-serif;
}

.titulo a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ti-link a {
  float: right;
  display: block;
  padding: 25px 16px;
}

.titulo a:hover {
  background-color: var(--cor-primaria);
}

.titulo a.active {
  font-size: 25px;
}

.titulo span {
  font-size: 15px;

}

.titulo .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .titulo a:not(:first-child) {
    display: none;
  }

  .titulo a.icon {
    float: right;
    display: block;
    padding-top: 20px;
  }

  .titulo a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .ti-link a {
    float: none;
    display: none;
    padding: 14px 16px;
  }

}

@media screen and (min-width: 700px) {
  .titulo a:not(:first-child) {
    float: right;
    padding-left: 25px;
  }
}

@media screen and (max-width: 600px) {
  .titulo.responsive {
    position: relative;
  }

  .titulo.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .titulo.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.intro {
  width: 100%;
  height: clamp(500px, 3vh, 600px);
  -ms-height: 500px;
  position: relative;
  background-color: var(--cor-secundaria);
  padding: 40px 0px 180px 0px;
}

.intro-texto {
  max-width: clamp(400px, 3vw, 600px);
  -ms-max-width:400px;
  position: absolute;
  left: 20%;
  top: 10%;
}

.intro-texto h1 {
  font-family: var(--fonte-do-titulo);
  -ms-font-size:50px;
  font-size: clamp(30px, 2.5vw, 50px);
  text-transform: uppercase;

}

.intro-texto p {
  font-family: var(--fonte-do-texto);
  font-size: clamp(20px, 0.5vw, 30px);
  -ms-font-size:30px;
  padding-bottom: 10px;
}

.intro-texto a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--cor-primaria);
  padding: 15px 30px;
  border-radius: 20px 0px;
}

@media screen and (max-width: 750px) {
  .intro {
    height: auto;
    padding: 20px 0 40px 0;
    display: flex;
    justify-content: center;
  }

  .intro-texto {
    max-width: clamp(300px, 3vw, 600px);
    text-align: center;
    position: unset;
  }

  .intro-texto h1 {
    font-family: var(--fonte-do-titulo);
    font-size: clamp(20px, 2.5vw, 40px);
    text-transform: uppercase;
  
  }
  
  .intro-texto p {
    font-family: var(--fonte-do-texto);
    font-size: clamp(15px, 0.5vw, 30px);
    padding-bottom: 10px;
  }
}

@media (max-width:1500px) and (min-width:760px) {
  .intro {
    width: 100%;
    height: clamp(300px, 3vh, 600px);
    position: relative;
  }

  .intro-texto {
    max-width: clamp(300px, 3vw, 600px);
    position: absolute;
    left: 20%;
    top: 15%;
  }
  
  .intro-texto h1 {
    font-family: var(--fonte-do-titulo);
    font-size: clamp(20px, 2.5vw, 40px);
    text-transform: uppercase;
  
  }
  
  .intro-texto p {
    font-family: var(--fonte-do-texto);
    font-size: clamp(15px, 0.5vw, 30px);
    padding-bottom: 10px;
  }
}